In [168]:
name = "data Science Masters"
name.capitalize()
#Only capitalizes first character of first word in a sentence

'Data science masters'

In [ ]:
#reversing a string

In [169]:
name[::-1] #Using slicing operation

'sretsaM ecneicS atad'

In [170]:
#using inbuilt function
reversed(name) #--->returns the memory address location

In [ ]:
#Knowing join() functionality

In [171]:
" ".join("abcd")

'a b c d'

In [172]:
" ".join("ab")

'a b'

In [173]:
"abc".join("xyz")

'xabcyabcz'

In [174]:
" ".join(reversed(name)) #Reversing string using inbuilt functions

's r e t s a M   e c n e i c S   a t a d'

In [175]:
" ".join("ant") #Normal order

'a n t'

In [176]:
" ".join(reversed("ant")) #reversed order

't n a'

In [177]:
"".join(reversed("ant")) #reversed order without space

'tna'

In [178]:
"PWSKILLS ".join(reversed("ant"))

'tPWSKILLS nPWSKILLS a'

In [ ]:
#with the help of type casting

In [179]:
reversed("ant") #gives address of the object

In [180]:
list(reversed("ant")) #list typecasting

['t', 'n', 'a']

In [181]:
str(reversed("ant")) #string typecasting-->not working

'<reversed object at 0x7f52d0439900>'

In [ ]:
#real time application of join function

In [182]:
"math".join("s")   #--> important output,watch and analyze the output

's'

In [ ]:
#another way for reversing a name

In [183]:
for i in list(reversed("Nikith Pinni")):
    print(i,end = " ")

i n n i P   h t i k i N

In [ ]:
#Removing character from a string

In [184]:
string_a = " pw skills " #wanted to remove ending and beginning whitespaces
string_a.strip(" ") # " " is necessary argument of strip(" ") function

'pw skills'

In [ ]:
# lstrip(" ") and rstrip(" ") removes left and right whitespaces respectively

In [185]:
string_a.lstrip(" ")

'pw skills '

In [186]:
string_a.rstrip(" ")

' pw skills'

In [ ]:
"""yes,string is immutable i.e; the characters cant be changed(assigned) individually but the words can be changed 
in the string sentence as shown below"""

In [ ]:
#replacing using inbuilt functions

In [187]:
temp = "Greetings to Pwskills"
temp.replace("to","from")
#replace("string to be replaced","string to be substituted")

'Greetings from Pwskills'

In [188]:
"Nikith".replace("i","a") #This works because it is returning a new copy of the string

'Nakath'

In [189]:
name = "Nikith"
name

'Nikith'

In [190]:
name = "Pinni"
name
#the whole string can be reassigned

'Pinni'

In [192]:
temp = "Greetings to Pwskills"
temp1 = temp.replace("to","from")

In [193]:
temp = "Greetings to Pwskills"
temp1 = temp.replace("to","from")
print(id(temp))
print(id(temp1))
#  both addresses are different because the replace function will return a new copy of 
# the modified string

139993657802880
139993655806352

In [194]:
print("Hello\nworld")

Hello
world

In [195]:
print("Hello\tworld")

Hello	world

In [196]:
"Hello\nworld" #here \t and \n are considered as a char in a string itself

'Hello\nworld'

In [197]:
"Hello\tworld"

'Hello\tworld'

In [198]:
#solution for the above problem is 
"Hello\tWorld\tNamaste".expandtabs()
#establishes tabspace where \t is present in the string

'Hello   World   Namaste'

In [199]:
str1 = "Welcome to pw,the dat cience course"
#convert the above word into meaningful sentence

In [200]:
str1 = "Welcome to pw,the dat cience course"

str1.replace("dat","data").replace("cience","science")
#cam use the replace function more than once as shown above

'Welcome to pw,the data science course'

In [201]:
str1.isupper()

False

In [202]:
"KRISH".isupper()

True

In [203]:
"krish".islower()

True

In [204]:
" ".isspace()

True

In [205]:
"nikith".isspace() #isspace() function is generally used if the user has entered the 
                    # value or not

False

In [206]:
"pwskills".endswith("s")

True

In [207]:
"Nikith".endswith("p")

False

In [208]:
"Nikith".startswith("N") #case sensitive

True

In [209]:
"abc12".isalnum()

True

In [210]:
"112".isalnum()

True

In [211]:
"abc".isalnum()

True

In [212]:
"@".isalnum()

False

In [ ]:
#count the number of characters in the given string using for loop

In [213]:
str1 = "Nikith"
count = 0
for i in str1:
    count+=1
print(count)

6

In [214]:
#verification
len(str1)

6

In [ ]:
#printing index wise

In [215]:
str1 = "Nikith"
for i in range(0,len(str1)):
    print(f"{i} = {str1[i]}")

0 = N
1 = i
2 = k
3 = i
4 = t
5 = h

In [ ]:
#printing string in reverse direction without using builtin
# functions and slicing operation

In [216]:
str1 = "Nikith"
for i in range(len(str1)-1,-1,-1):
    print(str1[i],end = " ")

h t i k i N

In [217]:
name = "pwskills"
vowels = "aeioueuea"
#check wheather the words above are vowels or not
for i in name:
    if (i == "a" or i == "e" or i == "i" or i == "o" or i == "u"):
        print(f"{i} = Vowels char")
    else:
        print(f"{i} = Not vowels char")

p = Not vowels char
w = Not vowels char
s = Not vowels char
k = Not vowels char
i = Vowels char
l = Not vowels char
l = Not vowels char
s = Not vowels char

In [218]:
name = "pwskills"
vowels = "aeioueuea"
#check wheather the words above are vowels or not
for i in vowels:
    if (i == "a" or i == "e" or i == "i" or i == "o" or i == "u"):
        print(f"{i} = Vowels char")
    else:
        print(f"{i} = Not vowels char")

a = Vowels char
e = Vowels char
i = Vowels char
o = Vowels char
u = Vowels char
e = Vowels char
u = Vowels char
e = Vowels char
a = Vowels char

In [ ]:
#Lists

In [219]:
mylist = ["Nikith","John",12,24]
mylist

['Nikith', 'John', 12, 24]

In [220]:
str1 = "PwSkills"
list(str1) #typecasting string str1 into list

['P', 'w', 'S', 'k', 'i', 'l', 'l', 's']

In [221]:
str2 = "PWSkills Data Science Masters Course"
list(str2.split(" ")) #split function splits a sentence into words

['PWSkills', 'Data', 'Science', 'Masters', 'Course']

In [222]:
str2.split(" ") #returns the output in the form of list itself

['PWSkills', 'Data', 'Science', 'Masters', 'Course']

In [ ]:
#return type of split function when operated on strings is a list
#List is a ordered collection of elements of different data type

In [223]:
lst = str2.split(" ")
lst

['PWSkills', 'Data', 'Science', 'Masters', 'Course']

In [224]:
lst[3]

'Masters'

In [225]:
lst[::-1]

['Course', 'Masters', 'Science', 'Data', 'PWSkills']

In [ ]:
#slicing operation can be done for both lists and strings

In [226]:
lst[2:]

['Science', 'Masters', 'Course']

In [ ]:
# modifying the string by first converting it into list

In [227]:
lst

['PWSkills', 'Data', 'Science', 'Masters', 'Course']

In [228]:
lst[3] = "Bachelors"
lst

['PWSkills', 'Data', 'Science', 'Bachelors', 'Course']

In [229]:
lst[::-2]
#selects first element and every 2nd element sub-sequently from reverse

['Course', 'Science', 'PWSkills']

In [230]:
lst[-3::-2] #-->selects every 2nd element from the reverse starting from the -3rd index

['Science', 'PWSkills']

In [231]:
lst

['PWSkills', 'Data', 'Science', 'Bachelors', 'Course']

In [232]:
""" Need "Data Science Bachelors Course[both reverse and normal order]"as output 
using slicing operation""" 
lst[1:5:1]

['Data', 'Science', 'Bachelors', 'Course']

In [233]:
lst[4:0:-1]

['Course', 'Bachelors', 'Science', 'Data']

In [234]:
lst[-1:-5:-1] #Another way

['Course', 'Bachelors', 'Science', 'Data']

In [ ]:
## Very important note
lst[starting index{included} : ending index{excluded} : reverse or normal order]

In [ ]:
##concatenation operation in lists

In [236]:
lst

['PWSkills', 'Data', 'Science', 'Bachelors', 'Course']

In [237]:
lst + ["new element",3] #just for output,lst wont get updated

['PWSkills', 'Data', 'Science', 'Bachelors', 'Course', 'new element', 3]

In [239]:
lst2 = lst + [["new new element",33]] #nested list in the output

In [240]:
lst2 #since we have assigned in the above code snippet

['PWSkills', 'Data', 'Science', 'Bachelors', 'Course', ['new new element', 33]]

In [241]:
lst2[-1]

['new new element', 33]

In [242]:
lst2[5]

['new new element', 33]

In [243]:
lst2[-1][0]

'new new element'

In [244]:
lst

['PWSkills', 'Data', 'Science', 'Bachelors', 'Course']

In [245]:
lst[-2][0]

'B'

In [246]:
lst2

['PWSkills', 'Data', 'Science', 'Bachelors', 'Course', ['new new element', 33]]

In [247]:
lst2[-1][1]

33

In [248]:
lst

['PWSkills', 'Data', 'Science', 'Bachelors', 'Course']

In [249]:
str2 = "PWSkills Data Science Masters Course"
lst = list(str2)
lst 
#observe the difference for this code snippet and below code snippet

['P',
 'W',
 'S',
 'k',
 'i',
 'l',
 'l',
 's',
 ' ',
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'M',
 'a',
 's',
 't',
 'e',
 'r',
 's',
 ' ',
 'C',
 'o',
 'u',
 'r',
 's',
 'e']

In [250]:
lst = str2.split(" ")
lst

['PWSkills', 'Data', 'Science', 'Masters', 'Course']

In [ ]:
#check if "Science" is present in lst

In [251]:
for i in lst:
    if i == "Science":
        print("Science is present in lst")
        break

Science is present in lst

In [252]:
#shortcut -->optimal solution
if "Science" in lst:
    print("Science is present in lst")

Science is present in lst

In [253]:
# checking elements in the list
numlist = [1,2,3,4]
3 in numlist

True

In [254]:
7 in numlist

False

In [255]:
3.0 in numlist 
# working for decimal point also

True

In [256]:
list1 = ["Zebra","Monkey","Donkey","Lion","Zylo"]
list2 = [5,6,2,9,5,8,6]
list1

['Zebra', 'Monkey', 'Donkey', 'Lion', 'Zylo']

In [257]:
print(max(list1))

Zylo

In [258]:
print(min(list1))

Donkey

In [259]:
list2

[5, 6, 2, 9, 5, 8, 6]

In [260]:
print(max(list2))
print(min(list2))

9
2

In [261]:
list3 = ["Donkey","Zebra","Banana",5,6,8]
list3

['Donkey', 'Zebra', 'Banana', 5, 6, 8]

In [262]:
print(max(list3)) # min() and max() functions do not work when there are diff datatypes inthe list

TypeError: '>' not supported between instances of 'int' and 'str'

In [263]:
7 == 7.0

True

In [264]:
1.9999999999999999999999999999999999 in [2,6,4]

True

In [265]:
1.99999 in [2,6,4]

False

In [ ]:
#Once compare the above two code snippets

In [266]:
1.99999999999999999999999999999999 == 2

True

In [267]:
1.99999 == 2

False

In [268]:
lst

['PWSkills', 'Data', 'Science', 'Masters', 'Course']

In [269]:
lst.append("Rating") #append() function will automatically update[assign] in the list

In [155]:
lst

In [270]:
#appending list into the list
lst.append([1,2,3])
lst

['PWSkills', 'Data', 'Science', 'Masters', 'Course', 'Rating', [1, 2, 3]]

In [271]:
list1

['Zebra', 'Monkey', 'Donkey', 'Lion', 'Zylo']

In [272]:
list1.pop()
#default argument of pop() function is -1,you can give your own argument

'Zylo'

In [273]:
list1

['Zebra', 'Monkey', 'Donkey', 'Lion']

In [276]:
poped_element = list1.pop(-2)
poped_element#inplace operation--->updating and assigning the list

'Donkey'

In [277]:
list1

['Zebra', 'Monkey', 'Lion']

In [167]:
# pop() function takes index as argument and remove() function takes value as argument

In [166]:
#sorting and reverse method in list

In [280]:
list4 = ["k","z","x","y","t","e"]
list4

['k', 'z', 'x', 'y', 't', 'e']

In [283]:
list4[::-1]

['e', 't', 'y', 'x', 'z', 'k']

In [284]:
list4.reverse() #reverse is also inplace operation

In [285]:
list4

['e', 't', 'y', 'x', 'z', 'k']

In [288]:
list4.sort() #sort() is also inplace operation

In [289]:
list4

['e', 'k', 't', 'x', 'y', 'z']

# Nested List

# Nested List

In [291]:
list3

['Donkey', 'Zebra', 'Banana', 5, 6, 8]

In [292]:
list3.append(["Cow","Ox"])

In [293]:
list3

['Donkey', 'Zebra', 'Banana', 5, 6, 8, ['Cow', 'Ox']]

In [295]:
list3.extend(["Cow","Ox"])

In [296]:
list3

['Donkey', 'Zebra', 'Banana', 5, 6, 8, ['Cow', 'Ox'], 'Cow', 'Ox']

In [ ]:
# extend() operation can add multiple items into list without making nested lists

In [ ]:
"""the above code snippets will show the difference between extend() and append() functions for adding 
multiple items into a list"""

In [297]:
list4

['e', 'k', 't', 'x', 'y', 'z']

In [298]:
#Sorting in descending order,**********************IMP*************
list4.sort(reverse = True)

In [299]:
list4

['z', 'y', 'x', 't', 'k', 'e']

In [301]:
lst1 = [1,2,3]
lst2 = [4,5,6]
lst3 = [7,8,9]

matrix = [lst1,lst2,lst3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [303]:
# picking element 6 from matrix
matrix[1][2]

6

In [304]:
#picking 8,9 elements from matrix in same output
matrix[2][1:]

[8, 9]

In [311]:
#PICKING 1,4,7 from matrix
matrix[0:][0]

[1, 2, 3]

In [309]:
matrix[::]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [310]:
matrix[:]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#List Comprehension

In [2]:
[i for i in range(0,20,1)] #the output is a list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [4]:
[i for i in range(0,20,2)] #-->for even numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
[i if i%2 == 0 else "ODD" for i in range(20)] #--> for even numbers

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 'ODD',
 12,
 'ODD',
 14,
 'ODD',
 16,
 'ODD',
 18,
 'ODD']

In [1]:
lst = [1,2,3,4,5,6,7,8]
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
even_sum = odd_sum = 0
for i in lst:
    if i%2 == 0:
        even_sum+=i
    else:
        odd_sum+=i
print(even_sum)
print(odd_sum)

20
16

In [6]:
#The same above problem using list comprehension
[num for num in lst if num%2 == 0]

[2, 4, 6, 8]

In [8]:
[num for num in lst if num%2 != 0]

[1, 3, 5, 7]

In [10]:
even_sum = sum([num for num in lst if num%2 == 0])
even_sum

20

In [12]:
odd_sum = sum([num for num in lst if num%2 != 0])
odd_sum

16

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10] #Find the square of all the numbers

In [19]:
[num**2 for num in lst]

[1, 4, 9, 16, 25, 36, 49, 64]

In [21]:

sum_square = sum([num**2 for num in lst])
sum_square

TypeError: 'int' object is not callable

In [23]:
lst = [1,-5,9,-4,56] 
lst
#Extact only negative numbers from the given list

[1, -5, 9, -4, 56]

In [24]:
[num for num in lst if num < 0]

[-5, -4]

In [26]:
words = ["apple","banana","cat","dog"]
#extract the first letter of all the words into a new list in the given list
[i[0] for i in words]

['a', 'b', 'c', 'd']

In [27]:
#convert the list of temperatures from celcius to fahrenheit
lst = [0,10,20,30,40,50]
lst

[0, 10, 20, 30, 40, 50]

In [28]:
[(9/5)*i+32 for i in lst]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [29]:
#Flatten the list of lists into a single list
lst = [[1,2,3],[4,5,6],[7,8,9]]
lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
[j for i in lst for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
#create a list of all possible combination of two numbers in given lst
nums = [1,2,3,4,5]
nums

[1, 2, 3, 4, 5]

In [46]:
[[i,j] for i in nums for j in nums]

[[1, 1],
 [1, 2],
 [1, 3],
 [1, 4],
 [1, 5],
 [2, 1],
 [2, 2],
 [2, 3],
 [2, 4],
 [2, 5],
 [3, 1],
 [3, 2],
 [3, 3],
 [3, 4],
 [3, 5],
 [4, 1],
 [4, 2],
 [4, 3],
 [4, 4],
 [4, 5],
 [5, 1],
 [5, 2],
 [5, 3],
 [5, 4],
 [5, 5]]

In [47]:
#insert function in list
vow = ["a","e","o","u"]
vow.insert(2,"i")
vow

['a', 'e', 'i', 'o', 'u']