##DAY 2

In [2]:
a = 'v'
type(a)

str

In [ ]:
#in python no char datatype,eberything is string

In [3]:
int()

0

In [4]:
age = 18
print("My age is :- ",age)

My age is :-  18

In [5]:
#another way
print("My age is {age}") #doesnot work

My age is {age}

In [6]:
print(f"My age is {age}") #f--->formatting,this works

My age is 18

In [7]:
name = "Nik"
age = 19
print(f"My name is {name} and age is {age}")

My name is Nik and age is 19

In [8]:
#Using format function
print("My name is {} and age is {}".format(name,age))

My name is Nik and age is 19

In [9]:
#vulta-->It works
print("My name is {} and age is {}".format(age,name))

My name is 19 and age is Nik

In [11]:
#Using placeholder concept for avoiding confusion in order of arguments in format function
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))
#check the order of arguments in format function in the above print statement

My name is Nik and age is 19

In [12]:
input() ##compiling empty input() function

 Nikith

'Nikith'

In [13]:
name = input("Enter your name")

Enter your name Nikith Pinni

In [14]:
name

'Nikith Pinni'

In [21]:
#live class task
age = int(input("Enter your age : "))
if age >= 18 and age <= 32:
    print("You are young blood")

Enter your age :  25

You are young blood

In [24]:
#if else statement
age = int(input("Enter your age : "))
if age >= 18 and age <= 32:
    print("You are young blood")
else:
    print("Your application is rejected")

Enter your age :  47

Your application is rejected

In [1]:
#if -elif ladder and nested if

In [5]:
price = int(input("Enter the price"))
if price >= 1000:
    print("The price is greater than or equal to 1000")
elif price >= 500 and price < 1000:
    if price == 666:
        print("The price is 666")
    print("The price is greater than or equal to 500 and less than 1000")
else:
    print("The price is less than 500")

Enter the price 25

The price is less than 500

In [6]:
joining_age = int(input("Enter joining age"))
while joining_age <= 60:
    print(joining_age)
    joining_age+=1
else:
    print("Congrats on your retirement")

Enter joining age 25

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Congrats on your retirement

#List in python

In [7]:
lst = ["Nikith",1,2,3,3.5,"Apple"]

In [8]:
type(lst)

list

In [9]:
lst[0]

'Nikith'

In [10]:
lst[4]

3.5

In [12]:
#iterating through lst using while loop

In [15]:
i = 0
while(i <= 5):
    print(lst[i])
    i+=1

Nikith
1
2
3
3.5
Apple

In [16]:
#For Loop in python

In [17]:
for x in lst:
    print(x)

Nikith
1
2
3
3.5
Apple

In [25]:
fruit_list = ["Apple","Banana","Cherry","Guava","Pineapple"]
fruit_list[1]

'Banana'

In [27]:
fruit_list = ["Apple","Banana","Cherry","Guava","Pineapple"]

for a in fruit_list:
    print(a)

Apple
Banana
Cherry
Guava
Pineapple

In [28]:
#Printing side by side
fruit_list = ["Apple","Banana","Cherry","Guava","Pineapple"]

for a in fruit_list:
    print(a,end = " ")

Apple Banana Cherry Guava Pineapple

In [30]:
#String is also a collection of elements in python
str = "Nikith"
for x in str:
    print(x)

N
i
k
i
t
h

In [32]:
str[3]

'i'

In [33]:
#String is also a collection of elements in python
str = "Nikith"
for x in str:
    print(x,end = "\t")

N	i	k	i	t	h

In [ ]:
#Range function in python
range(start_step,end_step,step_size)
# here start_step-->Included and end_step--->not included
#Default argument of range function is the 3rd argument that is step size = 1

In [34]:
# integrating range function into for loop
for i in range(5,15):
    print(f"i = {i}")

i = 5
i = 6
i = 7
i = 8
i = 9
i = 10
i = 11
i = 12
i = 13
i = 14

In [38]:
for i in range(5,15,3):
    print(f"i = {i}")

i = 5
i = 8
i = 11
i = 14

In [39]:
#nested for loop in python
n = 7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end = "")
    print("\r")
# \r-->goes towards leftmost side as shown in the diagram

*
**
***
****
*****
******
*******

In [42]:
n = 7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end = "")
    print("\n")
# diff between \n and \r in python

*

**

***

****

*****

******

*******

In [52]:
#Loop Control Statements in python
#break
fruit_list = ["Apple","Banana","Cherry","Guava","Pineapple"]
for i in fruit_list:
    if i == "Cherry":
        print("The fruit is Cherry,break applied")
        break
    print(i)

Apple
Banana
The fruit is Cherry,break applied

In [57]:
#Loop Control Statements in python
#pass------>nothing happens
fruit_list = ["Apple","Banana","Cherry","Guava","Pineapple"]
for i in fruit_list:
    if i == "Cherry":
        print("The fruit is Cherry,pass applied")
        pass
    print(i)

Apple
Banana
The fruit is Cherry,break applied
Cherry
Guava
Pineapple

In [60]:
#Loop Control Statements in python
#continue
fruit_list = ["Apple","Banana","Cherry","Guava","Pineapple"]
for i in fruit_list:
    if i == "Cherry":
        print("The fruit is Cherry,continue applied")
        continue
    print(i)

Apple
Banana
The fruit is Cherry,continue applied
Guava
Pineapple